# Python files
*.egg*
/.mypy_cache/
/.pytest_cache/
__pycache__/

# IDE files
/.idea/
/.vscode/

# Project-specific files
*.sif
*Game.json
/Analysis/GameAnalysisFiles/
/GameAnalysisFiles/
/data/
/docs/build/
/logs/
batch.txt
bot_neurips2019-sl_model
myjob.*
neurips2019-sl_model.zip

# ENVs
dip_bots/