__pycache__
*Game.json
./Analysis/GameAnalysisFiles/*
./GameAnalysisFiles/*
launch.json
myjob.*
_build
*.egg*
test.ipynb
build
.vscode
./joblogs/*
./jobs/*
*batch.txt
*bot_neurips2019-sl_model
*neurips2019-sl_model.zip
*.sif