diplomacy
sphinx
pytest
karma-sphinx-theme
black
isort
numpy
# Sander's DAIDE parser/constructor
git+https://github.com/trigaten/DAIDE.git
git+https://github.com/ALLAN-DIP/stance_vector.git
# diplomacy_research
# git+https://github.com/diplomacy/research.git
