DAIDE @ git+https://git@github.com/ALLAN-DIP/DAIDE.git@34766b9bd609d28ea3d0bc4d56f0f798160ed215
diplomacy @ git+https://git@github.com/SHADE-AI/diplomacy.git@614aa44d826eba3fbe3d96347d277668db45db2e
gym==0.18.3
karma_sphinx_theme==0.0.8
numpy==1.21
pre-commit==2.21.0
pytest==7.1.3
sphinx==5.3.0
stance_vector @ git+https://git@github.com/ALLAN-DIP/stance_vector.git@62e3e5d5c5567d1342ea64846e826c4a2139b72a
tornado==6.2
tqdm==4.64.1
ujson==5.7.0
